<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<virtualType name="Learning\Customform\Model\ResourceModel\CustomForm\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">learning_customform_customform</argument>
			<argument name="resourceModel" xsi:type="string">Learning\Customform\Model\ResourceModel\CustomForm\Collection</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="learning_customform_customform_listing_data_source" xsi:type="string">Learning\Customform\Model\ResourceModel\CustomForm\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
</config>